body{
	background-color: #fff;
	text-align: center;
}

#get,#download{
	background-color: lightblue;
	border-radius: 3px;
	padding:4px;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 1px 1px 3px  #888888;
}

/* #get{
	margin-right: 30px;
	margin-left: 10px;
	padding-right: 10px;
} */

#name{
	margin-top: 10px;
	border-radius: 3px;
	border-color: lightblue;
	background-color: #cff8ed;
	border-width: 1px;

}
a{
	text-decoration: none;
}